<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:include="fragments/head.html :: headFragment">
<title id="pageTitle">Mayo Bonus-Shop</title>
</head>


<body>
	<header th:replace="fragments/header.html :: header"> </header>

	<h1>
		Willkommen im Mayo Bonus-Shop, <span th:text="${first_name}">Newbie</span>!
	</h1>


	<div id="logged_in_user" th:if="${account_status}">
		<h2>
			Congratulations!!!</br> </br> You have saved <span class='highlight'
				th:text="${saved_co2}"> yourCo2Saving </span> kg CO2 with Mayo!"
		</h2>
		<h2>
			This means you have earned <span class='highlight'
				th:text="${your_mayo_coins}"> yourMayoCoins </span> valuable Mayo
			coins so far!!!!
		</h2>
	</div>

	<div id="no_login" th:unless="${account_status}">
		<h2>
			Please <a href='login.html'>sign in</a> or <a href='register.html'>register</a>.
		</h2>
		<h3>This is why you absolutely have to join the Mayo community:</h3>
		<ul>
			<li>It's so much nicer to travel together</li>
			<li>You're going to meet lots of very nice new people</li>
			<li>You'll help save the planet</li>
			<li>You can earn Mayo coins and spend them here</li>
		</ul>
	</div>


	<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>