<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:include="fragments/head.html :: headFragment">
<title id="pageTitle">Mayo Bonus-Shop &mdash; Our Prices</title>
</head>


<body>
	<header th:replace="fragments/header.html :: header"> </header>

	<h1>
		Choose one of these fantastic bonuses!
	</h1>

<table class="table">
	<thead class="thead-dark">
		<th scope="col">&nbsp;<!-- image --></th>
		<th scope="col">Bonus</th>
		<th scope="col">Description</th>
		<th scope="col">Points</th>
		<th scope="col">&nbsp;<!-- button Detail --></th>
		<th scope="col">&nbsp;<!-- button Update --></th>
		<th scope="col">&nbsp;<!-- button Delete --></th>
	</thead>
	<tbody id="data-body">
	 <!--  insert data via JS -->
	
	</tbody>

</table>
<!--  visible for admins?<p><button type="button" class="btn-success">Add new Product</button></p> -->




	<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>